*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-dark2{
    background-color: #282828 !important;
}
.user-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}